<ion-header>
  <ion-toolbar> <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']" color="primary">volver</ion-button>
    </ion-buttons>
    <img slot="start" width="20%" height="20%" src="../../assets/img/H.png" alt="">
    <ion-title>Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid1">

    <ion-row class="row1">
      <ion-col id="colimg">
      </ion-col>
    </ion-row>

    <ion-row class="row2">
      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-slide>
    <div class="contaier-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Recuperar Contraseña</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input name="password" type="text" [(ngModel)]="PostData.mail" required
                  placeholder="Correo del usuario"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button shape="round" color="success" (click)="forgetpasswodAction()">Recuperar</ion-button>
          </ion-col>
        </ion-row>      
      </ion-grid>
    </div>
  </ion-slide>

</ion-content>