<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/forgetpassword']" color="primary">volver</ion-button>
    </ion-buttons>
    <img slot="start" width="20%" height="20%" src="../../assets/img/H.png" alt="" [routerLink]="['/forgetpassword']">
    <ion-title>Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid id="grid1">
    <ion-row>
      <ion-col>
        <h1>Nueva Contraseña</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid id="grid2">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="postData.email" placeholder="Correo electronico"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid id="grid3">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="postData.password" placeholder="Nueva Contraseña"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid id="grid5">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="postData.confirmpassword" placeholder="Confirmar Contraseña"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="grid4">
    <ion-row>
      <ion-col>
        <ion-button shape="round" color="success" (click)="resetPassword()">Cambiar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>