<ion-header>
  <ion-toolbar> <ion-buttons slot="end">
    </ion-buttons>
    <img slot="start" width="20%" height="20%" src="../../assets/img/H.png" alt="">
    <ion-title>Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid1">

    <ion-row class="row1">
      <ion-col id="colimg">
      </ion-col>
    </ion-row>

    <ion-row class="row2">
      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-slide>
    <div class="contaier-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>Solicitud Suministrada</h3>
            <h3>Sastifactoriamente</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../../assets/img/check.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Refise su correo electonico y confirme su solicitud</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button shape="round" color="success" (click)="navigateToLogin()">OK</ion-button>
          </ion-col>
        </ion-row>      
      </ion-grid>
    </div>
  </ion-slide>

</ion-content>