ion-content {
  --background: rgb(29, 53, 87);
}
ion-toolbar{
  color: black;
  --background: rgb(255,255,255);
}

#containerconten {
  color: white;
  font-family: 'Lucida Grande';
  font-size: large;
  padding-top: 10%;
}

ion-grid {
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 8%;

}

#imgdiv {

  display: flex;
  justify-content: center;
  align-items: center;


}

#toolvarsidemenu {
  color: white;
  --background: rgb(29, 53, 87);
}

ion-item {
  color: white;
  --background: rgb(29, 53, 87);
}